@import "_mixins";
/*
&display=swap
&subset=cyrillic-ext
*/
/* @import url("https://fonts.googleapis.com/css?family=Roboto:regular,400,700,900&display=swap"); */
@import "_null";
/*
COLORS_0 {
	color:#faed26
			#46344e
			#5a5560
			#9d8d8f
			#9b786f
}
COLORS_1 {
	color:#A64AC9
			#FCCD04
			#FFB48F
			#F5E6CC
			#17E9E0
}
*/

/* -------------------- ТЕХНИЧЕСКИЕ КЛАССЫ ----------------------- */

._ibg {
	position: relative;
	& img {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

/* --------------------// ТЕХНИЧЕСКИЕ КЛАССЫ //----------------------- */

@import "_header";
.main {
	flex: 1 0 100%;
}
.footer {
	background-color: #79aa45;
	padding: 15px;
}

[class*="__container"] {
	max-width: 1110px;
	margin: 0px auto;
	padding: 0px 15px;
	box-sizing: content-box;
}
/* №1 */
@media (max-width: 1110px) {
	[class*="__container"] {
		/* max-width: 970px; */
	}
}
/* №2 */
@media (max-width: 991.98px) {
	[class*="__container"] {
		/* max-width: 750px; */
	}
}
/* №3 */
@media (max-width: 767.98px) {
	[class*="__container"] {
		/* max-width: none; */
	}
}
